<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.oreilly.exercise.springessentials"/>

    <bean id="nf" class="java.text.NumberFormat" factory-method="getInstance"/>

    <bean id="dbFactory" class="javax.xml.parsers.DocumentBuilderFactory" factory-method="newInstance"/>
    <bean id="docBuilder" factory-bean="dbFactory" factory-method="newDocumentBuilder"/>

    <bean id="pistons" class="com.oreilly.exercise.springessentials.entities.Pistons" />
    <bean id="knicks" class="com.oreilly.exercise.springessentials.entities.Knicks" />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"/>

    <bean id="game" class="com.oreilly.exercise.springessentials.entities.BasketballGame">
        <property name="home" ref="pistons"/>
        <property name="away" ref="knicks"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>